// Style Global
@import "base";

// Couleurs
$color_button_lang: #565A5C;
$white: #ffffff;
$color_celeste_approx: #cccccc;
$color_mine_shaft_approx: #333333;
$color_pink_swan_approx: #bbbbbb;

* {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
  min-width: 320px;
  max-height: 100000px;
  font: 1.25em/1.2em 'Open Sans', sans-serif;
  background: $pure_white;
  color: $pure_black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}

//a {
//  text-decoration: none;
//  color: $nightBlue;
//  &:hover {
//    text-decoration: underline;
//  }
//  &:active {
//    background-color: transparent;
//  }
//}

input {
  font: 100% 'Open Sans', sans-serif;
  vertical-align: middle;
  color: $pure_black;
  outline: none;
}

textarea {
  @extend input;
  -webkit-appearance: none;
  border-radius: 0;
}

form {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type="button"]:focus {
  outline: none;
}


// Fallback IE

@import "generics/ie";

// Wrapper global + image container

#wrapper {
  width: 100%;
  position: relative;
//  overflow: hidden;
}




