/* TODO a supprimer quand on aura une page votre digitalisation en anglais aussi */
#header .top-block .container nav.english .left-links-container .submenu .colons ul.second-colon.active.entreprises a li {
    padding: 10px 0 9px 44px;
}

#header .top-block .container nav.spanish .left-links-container .submenu .colons ul.second-colon.entreprises a li,
#header .top-block .container nav.french .left-links-container .submenu .colons ul.second-colon.entreprises a li {
    padding: 6px 0 6px 44px !important;
}
#header .top-block .container nav.english .left-links-container .submenu .colons ul.second-colon.entreprises a li {
    padding: 7px 0 8px 44px !important;
}

#header {
    position:fixed;
    left:0;
    right:0;
    z-index:20;
    background-color: #2C3E50;
    overflow: visible;
    @include transition(top 0.2s);
    &.showBar {
        top:0;
    }
    &.hideBar {
        top: -106px;
    }
    .loader-anim {
        width: 0;
        background-color: #f39c12;
        height: 3px;
        @media only screen and (max-width: 979px) {
            display: none;
        }
    }
    .top-block {
        display: block;
        .container{
            padding: 0;
            @include box-sizing(border-box);
            @media only screen and (max-width: 1060px) {
                padding: 0 20px;
            }
            nav {
                display: table;
                width: 100%;
                margin: 0 auto;
                height: 55px;
                @media only screen and (max-width: 979px) {
                    height: 70px;
                    width: 100%;
                }
                .logo-container {
                    display: table-cell;
                    vertical-align: middle;
                    width:207px;
                    @media only screen and (max-width: 979px) {
                        width: 152px;
                    }
                    @media only screen and (max-width: 767px) {
                        width: 94px;
                    }
                    .logo {
                        background:url(/images/global/logo.png) no-repeat;
                        width:188px;
                        height:40px;
                        @media only screen and (max-width: 979px) {
                            background:url(/images/global/logo-mobile-middle.png) no-repeat;
                            width: 152px;
                            height: 32px;
                        }
                        @media only screen and (max-width: 767px) {
                            background:url(/images/global/logo-mobile.png) no-repeat;
                            width: 94px;
                            height: 12px;
                        }
                        a {
                            height: 100%;
                            display: block;
                        }
                    }
                }
                .burger-menu-container {
                    display: none;
                    @media only screen and (max-width: 979px) {
                        display: table-cell;
                        vertical-align: middle;
                        text-align: right;

                        a {
                            position: relative;
                            content: "";
                            background: url("/images/global/menu/burger-icon.png") no-repeat;
                            width: 38px;
                            height: 30px;
                            display: inline-block;
                            cursor: pointer;
                        }
                    }
                }
                .left-links-container {
                    vertical-align: middle;
                    position: relative;
                    text-align: center;
                    display: table-cell;
                    cursor: pointer;
                    height: 55px;
                    @media only screen and (max-width: 979px) {
                        display: none;
                    }
                    &:hover, &.open {
                        background-color: #253443;
                        .left-link {
                            color: $pure_white;
                        }
                        .submenu {
                            visibility: visible;
                            opacity:1;
                            &.left-submenu {
                                right: -63px;
                            }
                            &.right-submenu {
                                left: -127px;
                            }
                        }
                        &:after {
                            height: 3px;
                        }
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        width: 50px;
                        margin-left: -25px;
                        height: 0;
                        background-color: #f39c12;
                        @include border-radius(3px 3px 0 0);
                        @include transition(height 0.2s ease-in-out);
                    }
                    &.features {
                        width: 115px;
                        @media only screen and (max-width: 979px) {
                            width: 100px;
                        }
                    }
                    &.solutions, &.close {
                        width: 76px;
                        @media only screen and (max-width: 979px) {
                            width: 80px;
                        }
                    }
                    .left-link {
                        padding: 0 9px;
                        position: relative;
                        display: inline-block;
                        line-height: 51px;
                        text-decoration: none;
                        color: #9DC7FF;
                        font-weight: 600;
                        font-size: 0.66em;
                        @include transition(color 0.2s ease-in);
                        @media only screen and (max-width: 979px) {
                            font-size: 0.8em;
                        }
                        text-decoration: none;
                    }
                    .submenu {
                        -webkit-transform: translateZ(0);
                        opacity: 0;
                        visibility: hidden;
                        @include transition(opacity 0.5s, left 0.5s, right 0.5s);
                        position: absolute;
                        top: 55px;
                        text-align: left;
                        @media only screen and (max-width: 979px) {
                            width: 518px;
                        }
                        &.left-submenu {
                            width: 243px;
                            right: -30px;
                            .left-firstcolon {
                                height: 100%;
                                li:after {
                                    background: none !important;
                                }
                            }
                        }
                        &.right-submenu {
                            width: 562px;
                            left: -95px;
                        }
                        .colons {
                            display: table;
                            color: #9DC7FF;
                            ul {
                                display: table-cell;
                                vertical-align: top;
                                list-style: none;
                                padding: 9px 0;
                                margin: 0;
                                height: 413px;
                                &.first-colon {
                                    background-color: rgba(37, 52, 67, 0.95);
                                    padding: 8px 0;
                                    border-right: 1px solid rgba(107, 150, 204, .1);
                                    width: 246px;
                                    @media only screen and (max-width: 979px) {
                                        width: 217px;
                                    }
                                
                                    a {
                                        text-decoration: none;
                                        li {
                                            position: relative;
                                            font-size: 0.66em;
                                            font-weight: 600;
                                            color: #9DC7FF;
                                            padding: 10px 0 10px 44px;
                                            margin: 6px 0;
                                            @media only screen and (max-width: 979px) {
                                                padding: 10px 28px;
                                                font-size: 0.8em;
                                            }
                                            @include transition(color 0.2s ease-in);
                                            &.noSubmenu:after {
                                                background: none;
                                            }
                                            &:after {
                                                content: "";
                                                position:absolute;
                                                background:url(/images/global/menu/arrow.png) no-repeat;
                                                right: 11px;
                                                top: 18px;
                                                width: 4px;
                                                height: 8px;
                                            }
                                            &.active {
                                                color: $pure_white;
                                                cursor: pointer;
                                                background-color: #253443;
                                            }
                                            &.reduce {
                                                line-height:1.6em;
                                            }
                                        }
                                    }
                                }
                                &.second-colon {
                                    background-color: rgba(37, 52, 67, 0.95);
                                    position: relative;
                                    padding: 8px 0;
                                    display: none;
                                    width: 315px;
                                    a {
                                        text-decoration: none;
                                        li {
                                            position: relative;
                                            margin: 6px 0;
                                            padding: 15px 0 15px 44px;
                                            color: #9DC7FF;
                                            font-size: 0.66em;
                                            font-weight: 600;
                                            line-height: 1.2em;
                                            @include transition(color 0.2s ease-in);
                                            @media only screen and (max-width: 979px) {
                                                font-size: 0.8em;
                                            }
                                            h1,p {
                                                padding: 0;
                                                margin: 0;
                                                @include transition(color 0.2s ease-in);
                                                font-size: 1em;
                                                font-weight: 600;
                                            }
                                            h1 {
                                                color: #9DC7FF;
                                            }
                                            p {
                                                color: #6E9FE0;
                                                font-size: 0.8em;
                                            }
                                            &:hover {
                                                h1,p {
                                                    color: $pure_white;
                                                }
                                                color: $pure_white;
                                            }
                                        }
                                    }
                                    &.active {
                                        display: block;
                                        &.entreprises {
                                            a {
                                                li {
                                                    padding: 8px 0 8px 44px;
                                                }
                                            }
                                        }
                                        &.organismes {
                                            a {
                                                li {
                                                    padding: 12px 0 12px 44px;
                                                }
                                            }
                                        }
                                        a {
                                            li {
                                                &:hover {
                                                    background-color: #253443;
                                                    color: $pure_white;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
                &.english .left-links-container.features {
                    width: 74px;
                }
                &.spanish .right-links-container .contact-container .phoneContact-container:before {
                    left: -14px;
                }
                .right-links-container {
                    vertical-align: middle;
                    display: table-cell;
                    text-align: right;
                    display: none;
                    @media only screen and (max-width: 979px) {
                        display: none !important;
                    }
                    .contact-container {
                        display: inline-block;
                        color: $pure_white;
                        padding: 0 0 2px 0;
                        .phoneContact-container {
                            min-width: 110px;
                            min-height: 19px;
                            display: inline-block;
                            position: relative;
                            .phoneContact {
                                display: none;
                                a {
                                    color: #9DC7FF;
                                    font-size: 0.66em;
                                    font-weight: 600;
                                    text-decoration: none;
                                    cursor: default;
                                }
                                @media only screen and (max-width: 979px) {
                                    font-size: 0.8em;
                                }
                            }
                            &:before {
                                content: "";
                                background:url(/images/global/menu/phone.png) no-repeat;
                                display: block;
                                position: absolute;
                                left: -22px;
                                width: 15px;
                                height: 16px;
                                top: 6px;
                                @media only screen and (max-width: 979px) {
                                    top: 0;
                                }
                            }
                        }
                        .connexion {
                            padding: 0 14px;
                            display: inline-block;
                            a {
                                color: #9DC7FF;
                                text-decoration: none;
                                font-size: 0.66em;
                                font-weight: 600;
                                @media only screen and (max-width: 979px) {
                                    font-size: 0.8em;
                                }
                                @include transition(color 0.2s ease-in);
                                &:hover {
                                    color: $pure_white;
                                }
                            }
                        }
                    }
                }
                .button-lang-container {
                    vertical-align: middle;
                    display: table-cell;
                    @media only screen and (max-width: 979px) {
                        display: none;
                    }
                    &.french {
                        width: 188px;
                    }
                    &.english {
                        width: 242px;
                    }
                    &.spanish {
                        width: 190px;
                    }
                    .inner-container {
                        text-align: right;
                        .subcontainer {
                            .button360 {
                                display: inline-block;
                                padding: 8px 30px;
                                font-size: 0.85em;
                                text-align: center;
                                @include border-radius(9px);
                                font-weight: 600;
                                font-size: 0.68em;
                            }
                            .language-container {
                                margin-left: 6px;
                                display: inline-block;
                                position: relative;
                                width: 30px;
                                color: $pure_white;
                                vertical-align: middle;
                                &.selected {
                                    .language-choices {
                                        .language-choice {
                                            background-color: #9DC7FF;
                                            color: #253443;
                                            font-weight: 600;
                                            &.current {
                                                &:after {
                                                    background:url(/images/global/menu/triangle-dark.png) no-repeat !important;
                                                }
                                            }
                                        }
                                    }
                                    .other-choices {
                                        display: block;
                                    }
                                }
                                .language-choices {
                                    text-align: right;
                                    .language-choice {
                                        display: none;
                                        width: 27px;
                                        @include border-radius(9px);
                                        border: 1px solid #9DC7FF;
                                        color: #9DC7FF;
                                        padding-right: 3px;
                                        font-size: 0.55em;
                                        line-height:1.7em;
                                        @media only screen and (max-width: 979px) {
                                            font-size: 0.8em;
                                        }
                                        &:hover {
                                            background-color: #9DC7FF;
                                            cursor: pointer;
                                            color: #253443;
                                            font-weight: 600;
                                            &:after {
                                                background:url(/images/global/menu/triangle-dark.png) no-repeat !important;
                                            }
                                        }
                                        &.current {
                                            display: block;
                                            &:after {
                                                content: "";
                                                position:absolute;
                                                background:url(/images/global/menu/triangle-light.png) no-repeat;
                                                left: 4px;
                                                top: 9px;
                                                width: 6px;
                                                height: 3px;
                                                @media only screen and (max-width: 979px) {
                                                    left: 8px;
                                                    top: 7px;
                                                }
                                            }
                                        }
                                    }
                                }
                                .other-choices {
                                    display: none;
                                    font-size: 0.7em;
                                    position: absolute;
                                    top: 37px;
                                    right: 0;
                                    .other-choice {
                                        background-color: #253443;
                                        display: none;
                                        text-align: center;
                                        padding:7px 6px;
                                        &:hover {
                                            cursor: pointer;
                                            .cell {
                                                color: $pure_white;
                                            }
                                        }
                                        &.toDisplay {
                                            display: block;
                                        }
                                        .cell {
                                            padding: 0 3px;
                                            display: table-cell;
                                            vertical-align: middle;
                                            width: 50%;
                                            color: #9DC7FF;
                                            font-weight: 600;
                                            @include transition(color 0.2s ease-in);
                                            font-size: 0.8em;
                                            &.left {
                                                text-align: left;
                                            }
                                            &.right {
                                                text-align: right;
                                            }
                                            img {
                                                display: block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /* Overlay style */
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(243,156,18,0.9);
        opacity: 0;
        visibility: hidden;
        @include transition(opacity 0.5s, visibility 0s 0.5s);
        &.open {
            opacity: 1;
            visibility: visible;
            -webkit-transition: opacity 0.5s;
            transition: opacity 0.5s;
            nav ul {
                opacity: 1;
                @include transform(rotateX(0deg));
            }
        }
        &.close {
            nav ul {
                @include transform(translateY(25%) rotateX(-35deg));
            }
        }
        .overlay-close {
            width: 80px;
            height: 80px;
            position: absolute;
            right: 20px;
            top: 20px;
            background: url(/images/global/menu/cross.png) no-repeat center center;
            z-index: 100;
            cursor: pointer;
        }
        nav {
            text-align: center;
            position: relative;
            top: 50%;
            height: 60%;
            @include transform(translateY(-50%));
            @include perspective(1200px);
            ul {
                list-style: none;
                padding: 0;
                margin: 0 auto;
                display: inline-block;
                height: 100%;
                position: relative;
                opacity: 0.4;
                @include transform(translateY(-25%) rotateX(35deg));
                @include transition(transform 0.5s, opacity 0.5s);
                li {
                    display: block;
                    a {
                        font-size: 1.8em;
                        font-weight: 300;
                        display: block;
                        color: $pure_white;
                        line-height: 2.6em;
                        text-decoration: none;
                    }
                }

            }
        }
    }
}
