$pure_black: #000000;
$pure_white: #FFFFFF;
$orange_button: #E46C18;
$nightBlue: #2D588C;
$orange_button: #F39C12;
$orange_button_hover: #E67E22;
$blue_button: #265592;
$blue_button_hover: #1E426E;
$red_button: #E74C3C;
$red_button_hover: #DA4E39;
$section_main_title_orange: #F39C12;
$section_main_title_grey: #CCCCCC;
$section_paragraphs: #999999;
